<div class="row" style="overflow-y: scroll;">
	<div class="col s12 m7">
		<p class="bold" style="margin-bottom: 0">Peso Recebido:</p>
		<input type="text" placeholder="0 KG" name="pesoRecebido">
	</div>

	<div class="col s12 m7"; style="margin-bottom: 1rem; display: flex; align-items: center; justify-content: center">
		<a class="waves-effect waves-light btn" style="width: 80%">
			<i class="material-icons left">play_for_work</i>
			Tarar Copo
		</a>
	</div>

	<div class="col s12 m7">
		<p class="bold" style="margin-bottom: 0">Status:</p>
		<input type="text" placeholder="SEM COPO" name="status">
	</div>	

	<div class="col s12 m7"; style="margin-bottom: 1rem; display: flex; align-items: center; justify-content: center">
		<a class="waves-effect waves-light btn" style="width: 80%">
			<i class="material-icons left">launch</i>
			Preparar
		</a>
	</div>	

	<div class="col s12 m7">
		<p class="bold" style="margin-bottom: 0">Hora que Levantou Copo:</p>
		<input type="text" placeholder="00:00:00.000" name="horaIni">
	</div>		

	<div class="col s12 m7">
		<p class="bold" style="margin-bottom: 0">Hora que Colocou Copo:</p>
		<input type="text" placeholder="00:00:00.000" name="horaFim">
	</div>		

	<div class="col s12 m7">
		<h4 style="text-align: center;">Tempo:</h4>
		<h4 style="text-align: center; color: green"> XX.XXX [seg] </h4>
	</div>			
		
</div>