<div class="row">
	<div class="col s12 m7">
		->Valor Recebido
	</div>

	<div class="col s12 m7">
		<a class="waves-effect waves-light btn-large" style="width: 100%">
			<i class="material-icons left">play_for_work</i>
			Tarar Copo
		</a>
	</div>


	<div class="col s12 m7">
		<label>Tudo OK para iniciar se Já Tarado</label>
	</div>	


	<div class="col s12 m7">
		<label>Data/Hora que levantou o copo cheio</label>
	</div>		

	<div class="col s12 m7">
		<label>cronometro</label>
	</div>		

	<div class="col s12 m7">
		<label>Data/Hora que colocou o copo vazio</label>
	</div>			

	<div class="col s12 m7">
		<label>Fim. Resultado</label>
	</div>			
</div>